# Gradle Dependency Verification

## Documentation

- [Command-Line Interface](https://docs.gradle.org/current/userguide/command_line_interface.html#sec:dependency_verification_options)
- [Securing Gradle Builds](https://docs.gradle.org/current/userguide/security.html)
- [Verifying Dependencies](https://docs.gradle.org/current/userguide/dependency_verification.html)
